<h1>Library Books Database</h1>
<hr><br>
<h3>Search Database</h3>

<form #bookForm="ngForm" (ngSubmit)="_getBooks(bookForm)" >
  <table>
    <tr>
      <td>Title:</td>
      <td> <input type="text" name="title" ngModel required> </td>
    </tr>
    <tr>
      <td>Author Last Name:</td>
      <td> <input type="text" name="lastname" ngModel> </td>
    </tr>
    <tr>
      <td>Author First Name:</td>
      <td> <input type="text" name="firstname" ngModel> </td>
    </tr>
    <tr>
      <td>
        <button type="submit">Search</button>
      </td>
    </tr>
  </table>

</form>

<br><hr><br>

<div style="padding: 5px; border: 2px green solid;">
  <router-outlet></router-outlet>
</div>

