
<div *ngFor="let b of books " style="padding: 5px;">
  <a [routerLink]="[ '/book', b.title ]">
    <h4 style="display: inline;">{{ b.title }}
    </h4>
  </a>
  <code><h4>{{ b.lastname }} {{ b.firstname}}</h4></code>
  <button type="button" (click)="showDetails(b.title)">
    Show
  </button>
</div>
